<div id="comment-<%=comment.id%>">
  <hr>
  <h5><%= link_to comment.user.username, profile_path(comment.user.username), style: 'color: black' %> </h5>
  <%=comment[:created_at].strftime('%F %H:%M')%>
  <%= button_to "Удалить", post_comment_path(comment.post_id, comment.id), class: "btn btn-secondary",
   method: :delete, remote: true %>
  <br>
  <%= comment.content %>
</div>
