<div class="col-lg-7">
  <div class="row justify-content-center align-items-center border-bottom mb-5">
    <H1 class = " ">Главная</H1>
  </div>
  <!--ТУТ НАЧИНАЕТСЯ ВЫВОД ПОСТА С КАРУСЕЛЯМИ-->
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
      <% @posts.each do |post| %>
        <% if post.images.attached? %>
          <div id="carouselExampleControls<%= post.id %>" class="carousel slide" data-interval="false" data-ride="carousel" style="background-color: rgba(169, 169, 169, 0.5);">
            <div class="carousel-inner">
              <% post.images.each_with_index do |image, index|  %>
                <% if index == 0 %>
                  <div class="carousel-item active">
                    <%= image_tag image, class: 'd-block w-30' %>
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <%= image_tag image, class: 'd-block w-30' %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls<%= post.id %>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls<%= post.id %>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="row mt-2 border-bottom">
            <div class="col-lg-2">
              <% has_like = post.likes.find { |like| like.user_id == current_user.id} %>
              <% if has_like %>
                <%= button_to 'Не нравится', post_like_path(post_id: post.id, id: has_like.id), method: :delete %>
              <% else %>
                <%= button_to "Нравится", post_likes_path(post_id: post.id), method: :post %>
              <% end %>
            </div>
            <div class="col-lg-7 text-center">
              <p><%=post.likes_count%> отметок "нравится" </p>
            </div>
            <div class="col-lg-3">
              <p> <%=link_to "Пост пользователя: #{h(post.user.username)}", profile_path(post.user.username) %> </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 border-bottom text-center">
              <h6>текст поста:<br>
                <%= post.body %> </h6>
              <p>дата создания:   <%=post[:created_at].strftime('%F %H:%M')%></p>
              <%if post.created_at.to_i != post.updated_at.to_i%>
                <p>изменено: <%=post[:updated_at].strftime('%F %H:%M')%></p>
              <%end%>
            </div>
          </div>
          <h6>комментарии:</h6>
          <% post.comments.each do |comment| %>
            <div class="row mb-5 border">
              <div class="col-2">
                <b>
                  <p class="mr-3 text-dark">
                    <%= link_to comment.user.username, profile_path(comment.user.username), style: 'color: black' %>
                  </p>
                </b>
              </div>
              <div class="col-10 text-left" id="comment-content-<%= comment.id %>">
                <%= comment.content %>
              </div>
              <div class="row">
                <div class="col-4 text-left">
                  <%=comment[:created_at].strftime('%F %H:%M')%>
                </div>
                <% if current_user. id == comment.user.id %>
                  <div class="col-3">
                    <button class= "edit-comment-btn" id="btn-edit-comment-<%= comment.id %>" data-id="<%= comment.id %>">Изменить</button>
                  </div>
                  <div style="display: none">text</div>
                  <div class="col-3">
                    <%= button_to 'Удалить', comment_path(comment.id), method: :delete %>
                  </div>
                <% end %>
              </div>
            </div>
          <%end%>
          <%= form_with(model: @comment, url: comments_path, method: :post, class: "mb-5") do |form| %>
            <%= form.hidden_field :user_id, value: post.user.id %>
            <%= form.hidden_field :post_id, value: post.id %>
            <div class="field">
              <%= form.text_area :content, placeholder: 'Ваш комментарий', required: true %>
            </div>
            <div class="actions">
              <%= form.submit 'Отправить комментарий', class: 'btn btn-primary' %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!--ТУТ Заканчивается-->
</div>
<script>
  $('.edit-comment-btn').click(function() {
    var comment_id = $(this).attr("data-id");
    $('#comment-content-' + comment_id).hide();
  });
</script>
